* {
    font-family: 'Platypi';
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #4b514a;
    color: white;
    text-align: center;
    padding: 20px;
}

.navbar-brand img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #4b514a;
}

.nav-item {
    width: 75%;
    display: table; 
    margin: 0 auto;
    text-align: left;
}

.nav-link, .dropdown-item, .btn a {
    text-decoration: none;    
}

.container #nav ul {
	list-style: none;
	text-align: left;
}

.nav-linkActive, .nav-link, .nav-item ul li, .btn {
	text-align: center;
    padding: 10px;
}

.nav-linkActive, .nav-link, .nav-item ul li a, .btn {
	display: block;
	background: #687169;
	outline: solid 2px #4c4c4c;
	border: solid 2px white;
	color: white;
	padding: 10px 15px;
	text-decoration: none;
    margin-right: 40px;
    border-radius: 4px;
}

.nav-linkActive:hover, .nav-link:hover, .nav-item ul li a:hover, .btn {
	background: #4c4c4c;
	outline: solid 3px gray;
    border-radius: 4px;
}

.dropbtn {
   font-size: 16px;  
   border: none;
   outline: none;
   color: white;
   background-color: inherit;
   margin: 0;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
}

.navbar .dropdown:hover .dropdown-menu {
    display: inline-block;
}

.dropdown-item {
    margin-right: 35px;
}

.btn {
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 4px;
}

.btn a {
    color: white;
    text-decoration: none;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: white
}

.row {
    background-color: white;
    border-radius: 5px;
}

h1, h2, h3, h4, h5, p {
    color: #6e7a73;
    padding: 5px;
}

.break {
    padding: 20px;
    background-color: #6e7a73;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #6e7a73;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #6e7a73;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=number], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #6e7a73;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=message], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #6e7a73;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
button[type=submit] {
    background: #687169;
	outline: solid 2px gray;
	border: solid 2px white;
	color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #6e7a73;
    padding: 20px;
}

.containers {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #6e7a73;
    padding: 20px;
}

.container-mobile {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #6e7a73;
    padding: 20px;
}

.bubble {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #6e7a73;
    padding: 20px;
}

.radius {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

label {
    color: #687169;
}

.row p {
    padding: 30px;
}

.img {
    width: 85%;
}

.footer {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.content {
    padding: 50px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.form {
    display: inline-block;
    
}

.column {
    float:left;
    width: 48%;
    padding: 1px;
    margin: 5px;
}
  .row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
      width: 94%;
    }

}
.gallery-full {
	margin: 0;
	padding: 1rem;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
}

.gallery {
	width: 100%;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	transition: transform 1000ms;
}

.gallery-ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 0.5rem;
	max-width: 100%;
	width: 70rem;
}

#gallery {
	margin: 0;
	position: relative;
	overflow: hidden;
}

#gallery::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	background: rgba(0, 0, 0, 0.5);
	transform-origin: center;
	opacity: 0;
	transform: scale(2);
	transition: opacity 300ms;
}

figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	padding: 0.2rem;
	color: white;
	font-size: 1.2rem;
	z-index: 1;
	opacity: 0;
	transition: opacity 600ms, transform 600ms;
}

a:is(:hover, :focus) #gallery::after {
	opacity: 1;
}

a:is(:hover, :focus) figcaption {
	opacity: 1;
	transition: opacity 600ms;
}

@media (prefers-reduced-motion: no-preference) {
	figcaption {
		transform: translate3d(0, 2rem, 0);
	}
	
	#gallery::after {
		border-radius: 50%;
		opacity: 1;
		transform: scale(0);
		transition: transform 900ms;
	}
	
	a:is(:hover, :focus) #gallery::after {
		transform: scale(2.5);
	}

	a:is(:hover, :focus) figcaption {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: opacity 600ms 400ms, transform 600ms 400ms;
	}

	a:is(:hover, :focus) .gallery {
		transform: scale(1.2);
	}
}


@media all and (min-width:321px) and (max-width: 480px) {
      .trigger {
        display: none;
      }
      
      .hamburger {
        cursor: pointer;
        margin-right: 10px;
        float: left;
      
        span {
          height: 3px;
          width: 30px;
          background: #f9f9f9;
          display: block;
          margin-bottom: 5px;
          position: relative;
          transition: transform 0.3s ease-in-out, top 0.3s ease-in-out,
            opacity 0.3s ease-in-out;
      
          .trigger:checked ~ &:first-child {
            transform: rotate(45deg);
            top: 8px;
          }
      
          .trigger:checked ~ &:last-child {
            transform: rotate(-45deg);
            top: -8px;
          }
      
          .trigger:checked ~ &:nth-child(2) {
            opacity: 0;
          }
        }
      }
      .container {
        display: none;
      }

      .menu {
        cursor: pointer;
        color: white;
      }
      
      nav {
        background: #687169;
        outline: solid #4c4c4c 3px;
        width: 100vw;
        padding: 0 20px;
        margin-top: 5px;
        position: absolute;
        left: -100vw;
        box-sizing: border-box;
        transition: left 0.3s ease-in-out;
      
        .trigger:checked ~ & {
          left: 0;
        }

    
        .nav-item {
            width: 100%;
        }
        
        .nav-linkActive, .nav-link, .nav-item ul li a, .btn {
            background: #4c4c4c;
            outline: solid 2px #687169;
        }
        
        .nav-linkActive:hover, .nav-link:hover, .nav-item ul li a:hover, .btn {
            background: #4c4c4c;
            outline: solid 3px gray;
            border-radius: 4px;
        }
      }      
}

@media all and (min-width:481px) and (max-width: 1024px) {
    #mobile {
        display: none;
    }
    .container-mobile {
        display: none;
    }
}